.post-content {
  // Header
  .entry-header {
    padding-top: 10px;
    padding-left: 25px;
    padding-right: 25px;
    .entry-meta {
      color: $grey-text;
      font-size: 0.4rem;
      display: flex;
      justify-content: space-between;
      margin-bottom: 15px;
      .left, .right {
        span {
          a {
            color: $grey-text;
          }
        }
      }
      .left {}
      .right {}
    }
    .entry-title {
      margin-bottom: 10px;
    }
  }

  // Article
  article {
    .entry-content {
      padding-left: 25px;
      padding-right: 25px;
    }
  }


  @include media-breakpoint-up(sm) {
    .entry-header {
      padding-top: 36px;
      padding-left: 0px;
      padding-right: 0px;
      max-width: 650px;
      margin: 0 auto;
      .entry-meta {
        justify-content: flex-start;
        font-size: 0.75rem;
        .right {
          margin-left: 30px;
        }
      }
      .entry-title {
        font-size: 1.5rem;
        margin-bottom: 20px;
      }
    }
    article {
      .entry-content {
        padding-left: 0px;
        padding-right: 0px;
        max-width: 650px;
        margin: 0 auto;
        line-height: 1.85;
        p {
          font-size: 0.875rem;
          line-height: 1.85;
        }
      }
    }
  }
}
