.link-button-block {
  text-align: center;
  padding-top: 15px;
  padding-bottom: 40px;
  h2 {}
  .link-button-container {
    display: flex;
    justify-content: space-between;
    .btn {
      font-family: $font-family-base;
      text-transform: none;
      font-weight: 300;
      font-size: 0.6125rem;
      min-width: auto;
      width: 32%;
      padding: 6px 0px 3px 0px;
      background-color: $green-dark;
    }
  }

  @include media-breakpoint-up(sm) {
    padding-top: 15px;
    padding-bottom: 55px;
    h3 {
      margin-bottom: 30px;
    }
    .link-button-container {
      justify-content: center;
      .btn {
        font-size: 1.15rem;
        max-width: 170px;
        margin: 0px 7.5px;
        padding: 10px 0 6px 0;
      }
    }
  }
}
